.project
build.sh
build
html
node_modules
CppNumericalSolvers/.gitmodules
CppNumericalSolvers/.travis.yml
CppNumericalSolvers/CMakeLists.txt
CppNumericalSolvers/README.md
CppNumericalSolvers/cmake/
CppNumericalSolvers/compile.sh
CppNumericalSolvers/get_dependencies.sh
CppNumericalSolvers/gtest/
CppNumericalSolvers/lint.py
CppNumericalSolvers/matlab/
CppNumericalSolvers/src/
eigen/.hg_archival.txt
eigen/.hgeol
eigen/.hgignore
eigen/.hgtags
eigen/CMakeLists.txt
eigen/COPYING.BSD
eigen/COPYING.GPL
eigen/COPYING.LGPL
eigen/COPYING.MINPACK
eigen/COPYING.README
eigen/CTestConfig.cmake
eigen/CTestCustom.cmake.in
eigen/Eigen/CMakeLists.txt
eigen/Eigen/Cholesky
eigen/Eigen/CholmodSupport
eigen/Eigen/Dense
eigen/Eigen/Eigen
eigen/Eigen/Eigenvalues
eigen/Eigen/Geometry
eigen/Eigen/Householder
eigen/Eigen/IterativeLinearSolvers
eigen/Eigen/Jacobi
eigen/Eigen/LU
eigen/Eigen/MetisSupport
eigen/Eigen/OrderingMethods
eigen/Eigen/PaStiXSupport
eigen/Eigen/PardisoSupport
eigen/Eigen/QR
eigen/Eigen/QtAlignedMalloc
eigen/Eigen/SPQRSupport
eigen/Eigen/SVD
eigen/Eigen/Sparse
eigen/Eigen/SparseCholesky
eigen/Eigen/SparseCore
eigen/Eigen/SparseLU
eigen/Eigen/SparseQR
eigen/Eigen/StdDeque
eigen/Eigen/StdList
eigen/Eigen/StdVector
eigen/Eigen/SuperLUSupport
eigen/Eigen/UmfPackSupport
eigen/Eigen/src/
eigen/INSTALL
eigen/README.md
eigen/bench/
eigen/blas/
eigen/cmake/
eigen/debug/
eigen/demos/
eigen/doc/
eigen/eigen3.pc.in
eigen/failtest/
eigen/lapack/
eigen/scripts/
eigen/signature_of_eigen3_matrix_library
eigen/test/
eigen/unsupported/


